* {
  box-sizing: border-box;
}
/* force scrollbar */
html {
  overflow-y: scroll;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(../fonts/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body {
  background: #1d1d1d;
  font-family: "Segoe UI", "Open Sans", sans-serif, serif;
  font-size: .875rem;
  line-height: 1.1;
  font-weight: 400;
  font-style: normal;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /*-khtml-user-select: none;*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ---- grid ---- */
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 100%;
  padding: 5px;
}
.grid-item {
  float: left;
  overflow: hidden;
}
.grid-item img {
  display: block;
  max-width: 100%;
  border: 1px #373737 solid;
}
.filename {
  position: absolute;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.35);
  padding: 4px 8px;
  color: white;
  margin: 4px;
  margin-right: 9px;
  font-size: 14px;
}
@media only screen and (min-width: 200px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}
@media only screen and (min-width: 400px) {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media only screen and (min-width: 700px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media only screen and (min-width: 900px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
}
